In [11]:
import pandas as pd
import sqlalchemy

In [12]:
latlong = pd.read_csv('LatLongNBA.csv')

In [13]:
latlong = latlong.drop_duplicates(['player_id'], keep = "last")

In [14]:
latlong = latlong.set_index('player_id')

In [15]:
latlong.dtypes

birthDate        object
draft_year      float64
name             object
position         object
college          object
salary          float64
season_end      float64
season_start    float64
team             object
lat             float64
long            float64
dtype: object

In [17]:
latlong['position'] = latlong['position'].astype(str)

In [18]:
new_position= []
for position in latlong.position:
    position = position.split(" ")
    if len(position) > 1:
        position_clear = position[0] + " " + position[1]
    else:
        position_clear = position[0]
    new_position.append(position_clear)

In [19]:
latlong['position'] = new_position
latlong_duplicates = latlong[latlong.duplicated()]
print("Duplicate Rows except first occurrence based on all columns are :")
print(latlong_duplicates)
1
2
3
4
5
# Select duplicate rows except first occurrence based on all columns
latlong_duplicates =latlong[latlong.duplicated()]

Duplicate Rows except first occurrence based on all columns are :
Empty DataFrame
Columns: [birthDate, draft_year, name, position, college, salary, season_end, season_start, team, lat, long]
Index: []

In [20]:
latlong.head()

,birthDate,draft_year,name,position,college,salary,season_end,season_start,team,lat,long
player_id,,,,,,,,,,,
acyqu01,6-Oct-90,2012.0,Quincy Acy,Power Forward,Baylor University,1709538.0,2018.0,2017.0,Brooklyn Nets,31.546913,-97.1211
jackspi01,29-Aug-91,2013.0,Pierre Jackson,Point Guard,Baylor University,105498.0,2017.0,2016.0,Dallas Mavericks,31.546913,-97.1211
jeffeco01,26-Dec-90,2014.0,Cory Jefferson,Power Forward,Baylor University,421449.0,2016.0,2015.0,Phoenix Suns,31.546913,-97.1211
jonespe01,24-Sep-91,2012.0,Perry Jones,Small Forward,Baylor University,2038206.0,2016.0,2015.0,Boston Celtics,31.546913,-97.1211
millequ01,18-Nov-92,2012.0,Quincy Miller,Power Forward,Baylor University,50000.0,2016.0,2015.0,Brooklyn Nets,31.546913,-97.1211

In [21]:
latlong.reset_index().to_json('NBAdataJSON.json', orient = 'records')

In [22]:
# SQL upload

database_username = input('ENTER USERNAME')
database_password = input('ENTER PASSWORD')
database_name     = 'NBAdataset'
database_connection = sqlalchemy.create_engine('postgresql://{0}:{1}@localhost:5432/{2}'.format(database_username, database_password, database_name))
latlong.to_sql(con=database_connection, name='NBAdataset', if_exists='append')

ENTER USERNAMEpostgres
ENTER PASSWORDpostgres