In [8]:
import pandas as pd
import sqlalchemy

In [2]:
latlong = pd.read_csv('LatLongNBA.csv')

In [3]:
latlong = latlong.drop_duplicates(['player_id'], keep = "last")

In [4]:
latlong = latlong.set_index('player_id')

In [6]:
latlong.head(100)

,birthDate,draft_year,name,position,college,salary,season_end,season_start,team,lat,long
player_id,,,,,,,,,,,
acyqu01,6-Oct-90,2012.0,Quincy Acy,Power Forward and Small Forward,Baylor University,1709538.0,2018.0,2017.0,Brooklyn Nets,31.546913,-97.121100
jackspi01,29-Aug-91,2013.0,Pierre Jackson,Point Guard,Baylor University,105498.0,2017.0,2016.0,Dallas Mavericks,31.546913,-97.121100
jeffeco01,26-Dec-90,2014.0,Cory Jefferson,Power Forward,Baylor University,421449.0,2016.0,2015.0,Phoenix Suns,31.546913,-97.121100
jonespe01,24-Sep-91,2012.0,Perry Jones,Small Forward and Power Forward,Baylor University,2038206.0,2016.0,2015.0,Boston Celtics,31.546913,-97.121100
millequ01,18-Nov-92,2012.0,Quincy Miller,Power Forward,Baylor University,50000.0,2016.0,2015.0,Brooklyn Nets,31.546913,-97.121100
...,...,...,...,...,...,...,...,...,...,...,...
bartowi01,6-Jan-91,2012.0,Will Barton,Shooting Guard,University of Memphis,3533333.0,2018.0,2017.0,Denver Nuggets,35.118750,-89.937493
bealbr01,28-Jun-93,2012.0,Bradley Beal,Shooting Guard,University of Florida,23775506.0,2018.0,2017.0,Washington Wizards,29.643632,-82.354930
murpher01,26-Oct-90,2013.0,Erik Murphy,Center,University of Florida,100000.0,2015.0,2014.0,Boston Celtics,29.643632,-82.354930
parsoch01,25-Oct-88,2011.0,Chandler Parsons,Small Forward,University of Florida,23112004.0,2018.0,2017.0,Memphis Grizzlies,29.643632,-82.354930
belljo01,7-Jan-95,2017.0,Jordan Bell,Center,University of Oregon,815615.0,2018.0,2017.0,Golden State Warriors,44.044830,-123.072605

In [5]:
latlong.reset_index().to_json('NBAdataJSON.json', orient = 'records')

In [9]:
# SQL upload

database_username = input('ENTER USERNAME')
database_password = input('ENTER PASSWORD')
database_name     = 'NBAdataset'
database_connection = sqlalchemy.create_engine('postgresql://{0}:{1}@localhost:5432/{2}'.format(database_username, database_password, database_name))
latlong.to_sql(con=database_connection, name='NBAdataset', if_exists='append')

ENTER USERNAMEpostgres
ENTER PASSWORDpostgres