In [25]:
import pandas as pd
import numpy as np
from datetime import datetime
import sqlalchemy

In [26]:
players = pd.read_csv('players.csv')
salaries = pd.read_csv('salaries.csv')

In [27]:
players = pd.merge(players, salaries, left_on = '_id', right_on = 'player_id')

In [28]:
players.dtypes

_id              object
birthDate        object
birthPlace       object
career_AST      float64
career_FG%       object
career_FG3%      object
career_FT%       object
career_G          int64
career_PER       object
career_PTS      float64
career_TRB       object
career_WS        object
career_eFG%      object
college          object
draft_pick       object
draft_round      object
draft_team       object
draft_year       object
height           object
highSchool       object
name             object
position         object
shoots           object
weight           object
league           object
player_id        object
salary            int64
season           object
season_end        int64
season_start      int64
team             object
dtype: object

In [29]:
players['draft_year'] = players['draft_year'].astype(float)
players['position'] = players['position'].astype(str)

In [30]:
players = players[players.draft_year >= 2010]

In [31]:
players_cols = ['player_id','birthDate','draft_year','name','position',
                'college','salary','season_end','season_start','team']

In [32]:
players = players[players_cols]

In [33]:
players = players.dropna()

In [34]:
players.dtypes

player_id        object
birthDate        object
draft_year      float64
name             object
position         object
college          object
salary            int64
season_end        int64
season_start      int64
team             object
dtype: object

In [35]:
players.to_csv('NBAdataset.csv')

In [38]:
database_username = input('ENTER USERNAME')
database_password = input('ENTER USERNAME PASSWORD')
database_name     = 'NBAdataset'
database_connection = sqlalchemy.create_engine('postgresql://{0}:{1}@localhost:5432/{3}'.format(database_username, database_password, database_ip, database_name))
players.to_sql(con=database_connection, name='NBAdataset', if_exists='append')

ENTER USERNAMEpostgres
ENTER USERNAME PASSWORDpostgres